@font-face {
  font-family: ProbaPro;
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/ProbaPro-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: ProbaPro;
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/ProbaPro-Light.woff") format("woff");
}
@font-face {
  font-family: ProbaPro;
  font-weight: 300;
  font-style: italic;
  src: url("../assets/fonts/ProbaPro-LightItalic.woff") format("woff");
}
@font-face {
  font-family: ProbaPro;
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/ProbaPro-Regular.woff") format("woff");
}
@font-face {
  font-family: ProbaPro;
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/ProbaPro-Medium.woff") format("woff");
}
@font-face {
  font-family: ProbaPro;
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/ProbaPro-SemiBold.woff") format("woff");
}
@font-face {
  font-family: ProbaPro;
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/ProbaPro-Bold.woff") format("woff");
}
