@import "../../styles/global/variables.scss";

.header {
  background-color: $lightGrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;

  &__content {
    margin-top: 4.5rem;
    // border: 1px solid black;
    padding: 0 2rem;
    max-width: 45rem;
  }

  &__title {
    font-size: 18px;
    color: $darkGrey;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__header {
    font-size: 64px;
    color: $darkGrey;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 18px;
    color: $darkGrey;
    font-weight: 400;
    max-width: 32rem;
    margin-bottom: 2rem;
  }

  &__btn {
    background-color: $highlightLight;
    border: none;
    border-radius: 2rem;
    padding: 0 82px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--text {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
    }

    &--icon {
      width: 10px;
      margin-left: 0.75rem;
    }
  }

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 10rem;
    border-radius: 100% 100% 0 0;
  }

  &__oval {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: $highlightLight; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      $highlightLight 0%,
      $highlightDark 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      $highlightLight 0%,
      $highlightDark 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      $highlightLight 0%,
      $highlightDark 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$highlightLight, endColorstr=$highlightDark,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
