@import "../../styles/global/variables.scss";

.header {
  background-color: $lightGrey;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 17rem;
  min-width: 180px;

  &__content {
    width: 100%;
    max-width: 110rem;
    height: 100%;
    color: $darkGrey;
    background-image: url(../../assets/images/header-image.png);
    background-size: 85rem 50rem;
    background-position-x: 15rem;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 10rem repeat(4, min-content) 20rem;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    grid-row: 2 / 3;
  }

  &__header {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    max-width: 42rem;
    margin-bottom: 2rem;
    grid-row: 3 / 4;
  }

  &__description {
    font-size: 1.125rem;
    font-weight: 400;
    max-width: 32rem;
    margin-bottom: 2rem;
    grid-row: 4 / 5;
  }

  &__btn {
    background-color: $highlightLight;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 100%;
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-row: 5 / 6;

    &--text {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 700;
      white-space: nowrap;
    }

    &--icon {
      width: 10px;
      margin-left: 0.75rem;
    }
  }

  //   &__oval {
  //     height: 3rem;
  //     width: 3rem;
  //     border-radius: 50%;
  //     background: $highlightLight; /* Old browsers */
  //     background: -moz-linear-gradient(
  //       -45deg,
  //       $highlightLight 0%,
  //       $highlightDark 100%
  //     ); /* FF3.6-15 */
  //     background: -webkit-linear-gradient(
  //       -45deg,
  //       $highlightLight 0%,
  //       $highlightDark 100%
  //     ); /* Chrome10-25,Safari5.1-6 */
  //     background: linear-gradient(
  //       135deg,
  //       $highlightLight 0%,
  //       $highlightDark 100%
  //     ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$highlightLight, endColorstr=$highlightDark,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  //   }
}

.gauge {
  position: absolute;
  width: 100%;
  bottom: -6rem;
  left: 0;

  &__body {
    width: 100%;
    height: 0;
    padding-bottom: 15%;
    background-color: rgb(173, 173, 173);
    position: relative;
    border-top-left-radius: 95% 200%;
    border-top-right-radius: 95% 200%;
    overflow: hidden;
  }

  &__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100rem;
    background-color: $green;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }

  &__cover {
    width: 97%;
    height: 180%;
    border-radius: 50%;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
}

@media screen and (max-width: 1350px) {
  .header {
    padding-left: 6rem;
  }
}

@media screen and (max-width: 1075px) {
  .header {
    padding: 5rem 2rem 0 2rem;

    &__content {
      display: flex;
      flex-direction: column;
      width: 42rem;
      background-image: unset;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__title {
      margin-bottom: 1rem;
    }
    &__header {
      line-height: 4.25rem;
    }
  }
}
