@import "../../styles/global/variables.scss";

.progress-bar {
  position: absolute;
  // width: 103.5%;
  width: 100%;
  // bottom: -5rem;
  bottom: -5rem;
  // left: -1.75rem;
  left: 0;

  &__body {
    width: 100%;
    height: 0;
    padding-bottom: 15rem;
    background-color: $grey;
    position: relative;
    border-top-left-radius: 95% 200%;
    border-top-right-radius: 95% 200%;
    overflow: hidden;
  }

  &__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    margin-top: -5rem;
    height: 100rem;
    background-color: $green;
    transform-origin: center top;
    transform: rotate(0.15turn);
    transition: transform 0.2s ease-out;
  }

  &__cover {
    width: 97%;
    height: 180%;
    border-radius: 50%;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }

  &__display {
    position: absolute;
    z-index: 100;
    top: -4.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 10.625rem;
    width: 10.625rem;
    border-radius: 50%;
    background: $highlightLight;
    background: linear-gradient(
      135deg,
      $highlightLight 0%,
      $highlightDark 100%
    );
    text-align: center;
    color: #fff;

    &--icon {
      width: 2.5rem;
      margin-top: 1.5rem;
    }

    &--value {
      font-weight: 700;
      font-size: 2.5rem;
      height: 2.6rem;

      & span {
        font-weight: 400;
        font-size: 1.25rem;
      }
    }

    &--target {
      font-weight: 700;
      font-size: 1.125rem;
    }
  }
}

@media screen and (max-width: 1075px) {
  .progress-bar {
    &__body {
      padding-bottom: 18rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .progress-bar {
    &__body {
      padding-bottom: 20rem;
    }
  }
}

//   &__oval {
//     background: $highlightLight; /* Old browsers */
//     background: -moz-linear-gradient(
//       -45deg,
//       $highlightLight 0%,
//       $highlightDark 100%
//     ); /* FF3.6-15 */
//     background: -webkit-linear-gradient(
//       -45deg,
//       $highlightLight 0%,
//       $highlightDark 100%
//     ); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(
//       135deg,
//       $highlightLight 0%,
//       $highlightDark 100%
//     ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$highlightLight, endColorstr=$highlightDark,GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
//   }
