@import "../../styles/global/variables.scss";

.progress-bar {
  position: absolute;
  width: 100%;
  bottom: -3rem;
  left: 0;

  &__body {
    width: 100%;
    height: 0;
    padding-bottom: 13.5rem;
    background-color: $grey;
    position: relative;
    border-top-left-radius: 95% 200%;
    border-top-right-radius: 95% 200%;
    overflow: hidden;
  }

  &__fill {
    width: 0%;
    height: 20rem;
    background-color: $green;
    transition: 0.33s ease-out;
  }

  &__cover {
    width: 97.5%;
    height: 180%;
    border-radius: 50%;
    position: absolute;
    top: 4.25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }

  &__display {
    position: absolute;
    z-index: 50;
    top: -4.75rem;
    left: 50%;
    transform: translateX(-50%);
    height: 10.625rem;
    width: 10.625rem;
    border-radius: 50%;
    background: $highlightLight;
    background: linear-gradient(
      135deg,
      $highlightLight 0%,
      $highlightDark 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

    &--icon {
      width: 2.5rem;
      margin-bottom: 0.5rem;
    }

    &--spinner {
      font-size: 3rem;
    }

    &--value {
      font-weight: 700;
      font-size: 2.5rem;
      height: 2.6rem;

      & span {
        font-weight: 400;
        font-size: 1.25rem;
      }
    }

    &--target {
      font-weight: 700;
      font-size: 1.125rem;
    }
  }
}

@media screen and (max-width: 415px) {
  .progress-bar__body {
    padding-bottom: 24rem;
  }
}

@media screen and (max-height: 715px) {
  .progress-bar__body {
    padding-bottom: 10rem;
  }
}
