@import "../../styles/global/variables.scss";

.banner {
  width: 100%;
  max-width: 110rem;
  min-height: 100%;
  color: $darkGrey;
  background-image: url(../../assets/images/header-image.png);
  background-size: 85rem 50rem;
  background-position-x: 22rem;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 6rem repeat(4, min-content) 20rem;
  margin-left: 20rem;

  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    grid-row: 2 / 3;
  }

  &__header {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    max-width: 42rem;
    margin-bottom: 2rem;
    grid-row: 3 / 4;
  }

  &__description {
    font-size: 1.125rem;
    font-weight: 400;
    max-width: 32rem;
    margin-bottom: 2rem;
    grid-row: 4 / 5;
  }

  &__btn {
    background-color: $highlightLight;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 100%;
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-row: 5 / 6;

    &--text {
      color: #fff;
      font-size: 1.125rem;
      font-weight: 700;
      white-space: nowrap;
    }

    &--icon {
      width: 10px;
      margin-left: 0.75rem;
    }
  }
}

@media screen and (max-width: 1350px) {
  .banner {
    margin-left: 6rem;
  }
}

@media screen and (max-width: 1140px) {
  .banner {
    display: flex;
    flex-direction: column;
    width: 42rem;
    background-image: none;
    margin: 5rem 2rem 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    &__title {
      margin-bottom: 1rem;
    }
    &__header {
      line-height: 4.25rem;
    }
  }
}

@media screen and (max-height: 615px) {
  .banner {
    margin: 2rem 2rem 0 2rem;
  }
}

// @media screen and (min-height: 825px) {
//   .banner {
//     background-size: 125rem 75rem;
//   }
// }
